* {
  font-family: "Outfit", sans-serif;
}

footer {
  color: var(--secondary);
  text-align: center;
  background-color: var(--primary);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 5px 0px;
}

header {
  text-align: center;
}
