table,
th,
td {
  border: 1px solid var(--primary);
}

td {
  padding: 1rem 1rem;
}

td:first-child {
  padding: 2px;
  text-align: center;
  font-weight: bold;
}

.back-black {
  background-color: black;
}

.configs {
  display: flex;
  flex-direction: column;
}

.configs > input {
  width: fit-content;
}